@import 'variables';

* {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-repeat: no-repeat;
}

body {
  color: $textBlack;
}

.menu-left-container {
  position: absolute;
  top: 0;
  width: 120px;
  .logo {
    text-align: center;
    height: 80px;
    position: relative;
    line-height: 80px;
    font-size: 28px;
    font-weight: 600;
    color: $indigo;
  }
  .bg {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 120px;
    background: #fff;
    box-shadow: 0 4px 20px 1px rgba(0, 0, 0, .06), 0 1px 4px rgba(0, 0, 0, .08);
  }
  .menu-left {
    .option {
      color: $indigo;
      display: block;
      border-bottom: 1px solid rgba(243, 243, 243, .8);
      text-align: center;
      padding: 15px 10px;
      position: relative;
      overflow: hidden;
      transition: .2s;
      &:hover {
        background-color: rgba(243, 243, 243, .8);
        text-decoration: none;
      }
      &.active {
        color: #fff;
        background-color: $indigo;
        width: 103%;
        border-radius: 0 4px 4px 0;
        &:hover {
          background-color: $indigo;
        }
      }
      &.locked {
        opacity: .5;
        img {
          -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
          filter: grayscale(100%);
        }
        &:hover {
          background-color: #fff;
          text-decoration: none;
        }
      }
      i {
        margin: 0 auto 10px;
        font-size: 28px;
      }
      .name {
        font-size: 16px;
        color: inherit;
        line-height: 1.25;
        margin-bottom: 0;
        text-align: center;
      }
    }
  }
}

.content {
  padding: 2rem 1rem 2rem calc(120px + 1rem);
}

.card {
  margin-bottom: 2rem;
  border-radius: 4px;
  box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.08);
  &.user-info {
    min-height: 82px;
    .name {
      font-size: 18px;
      font-weight: 500;
      line-height: 1.2;
      span {
        display: block;
        font-size: 16px;
        font-weight: 400;
        color: $textGray;
      }
    }
    .actions {
      text-align: right;
      font-size: 21px;
      a {
        color: $textGray;
        margin-left: 15px;
        &:hover {
          color: $indigo;
          text-decoration: none;
        }
      }
    }
  }
  &.overview {
    min-height: 82px;
    .add-transaction {
      button {
        margin-right: 10px;
        &.btn-danger {
          color: #fff;
          background-color: rgba(227, 52, 47, 0.5);
          border-color: rgba(227, 52, 47, 0.5);
        }
        &.btn-success {
          color: #fff;
          background-color: rgba(56, 193, 114, 0.51);
          border-color: rgba(56, 193, 114, 0.51)
        }
      }
    }
    .balance {
      font-size: 16px;
      font-weight: 400;
      text-align: right;
      color: $textGray;
      span {
        font-size: 24px;
        font-weight: 600;
        color: $indigo;
        margin-left: 5px;
      }
    }
    .finances {
      font-size: 16px;
      font-weight: 400;
      text-align: right;
      color: $textGray;
      span {
        font-size: 16px;
        font-weight: 600;
        color: $indigo;
        margin-left: 10px;
        border-left: 1px solid transparentize($textGray, .5);
        padding-left: 10px;
        &:first-child {
          border-left: none;
        }
      }
      i {
        color: $purple;
        margin-left: 15px;
      }
    }
  }
  &.rates {
    .rate {
      font-size: 0.9rem;
      font-weight: 400;
      border-bottom: 1px solid transparentize($textGray, .5);
      padding-bottom: 5px;
      margin-bottom: 5px;
      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
      }
      span {
        &.rate-value {
          min-width: 90px;
          display: inline-block;
          font-size: 1.1rem;
          font-weight: 500;
          margin: 0 0 0 10px;
        }
        &.date {
          float: right;
          color: $textGray;
          font-size: .8rem;
          position: relative;
          top: 5px;
        }

      }
    }
  }
  &.target {
    .value {
      text-align: center;
      font-size: 21px;
      font-weight: 600;
      color: $purple;
      margin: 0 auto 20px;
    }
    #prog-bar-cont {
      background: gainsboro;
      width: 100%;
      height: 2.5em;
      padding: 0.5em;
      margin-bottom: 10px;
      border-radius: 50px;
      box-sizing: border-box;
      box-shadow: 0 0 1px 0 rgba(#000, 0.75) inset, 0 0 4px 0 rgba(#000, 0.5);
      #prog-bar {
        width: 100%;
        height: 100%;
        border-radius: 50px;
        overflow: hidden;
        position: relative;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 1px 3px rgba(white, 0.75) inset;
        background: transparent;
        &:before {
          border-radius: 50px;
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          box-shadow: 0 0 0 1px rgba(#000, 0.3) inset, 0 0 5px 2px rgba(#FFF, 0.8) inset;
          background: transparent;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 3;
        }
        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 2px;
          width: 96%;
          left: 50%;
          margin-left: -48%;
          border-radius: 20px;
          height: 10px;
          background: linear-gradient(to bottom, rgba(white, 0.85) 30%, transparent 120%);
        }
        #background {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: linear-gradient(-90deg, violet, mix(violet, deepskyblue, 20%), mix(limegreen, yellow, 70%), yellow, orange, mix(red, deeppink, 20%));
          -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
          transition: all 3s;
          -webkit-transition: all 3s;
          &:before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            background-image: repeating-linear-gradient(
                            -45deg,
                            transparent,
                            transparent 10px,
                            #000 10px,
                            #000 20px
            );
            opacity: 0.75;
            mix-blend-mode: overlay;
            border-radius: 50px;
          }
        }
      }
    }
  }
  &.transactions {
    .transaction {
      color: $textGray;
      border-bottom: 1px solid rgba(177, 177, 177, 0.31);
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      .value {
        font-weight: 600;
      }
      .source {
        span {
          color: $textBlack;
          font-weight: 500;
        }
      }
      .date {
        text-align: right;
        font-size: 13px;
        .dropdown {
          display: inline-block;
        }
      }
      &.in {
        .value {
          color: $green;
        }
      }
      &.out {
        .value {
          color: $red;
        }
      }
    }
  }
  &.investitions {
    .investition {
      color: $textGray;
      border-bottom: 1px solid rgba(177, 177, 177, 0.31);
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      &:last-child {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
      }
      .current-result {
        color: #ffffff;
        text-align: center;
        font-weight: bold;
        &.profit1 {
          background-color: gray;
        }
        &.profit2 {
          background-color: green;
        }
        &.profit3 {
          background-color: blue;
        }
        &.profit4 {
          background-color: purple;
        }
        &.profit5 {
          background-color: orange;
        }
      }
      .source {
        color: $textBlack;
        font-weight: 500;
        & > span {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          display: inline-block;
          width: 100%;
          span {
            color: $textGray;
            font-weight: 400;
            margin-right: 5px;
          }
        }
      }
      .date {
        text-align: right;
        font-size: 13px;
        .dropdown {
          display: inline-block;
        }
      }
    }
  }
  &.articles {
    .card-body {
      padding-bottom: 0;
    }
    .article {
      color: $textBlack;
      border-bottom: 1px solid rgba(177, 177, 177, 0.31);
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      font-size: 1rem;
      .value {
        font-weight: 600;
      }
      .actions {
        text-align: right;
        a {
          margin-left: 10px;
        }
      }
      &:last-child {
        border-bottom: none;
        margin-bottom: 0;
      }
    }
  }
  .card-body {
    position: relative;
    &.cripto-overview {
      font-weight:bolder;
      span {
        color: $textGray;
        font-weight:normal;
      }
    }
    &:hover {
      .card-actions {
        display: block;
      }
    }
    .card-actions {
      display: none;
      position: absolute;
      right: 10px;
      top: 10px;
      .dropdown-toggle {
        color: $textGray;
        &:after {
          display: none;
        }
      }
    }
  }
}

.card-title {
  h2 {
    font-size: 1.4rem;
    .update-btn {
      float: right;
      font-size: 0.8rem;
      position: relative;
      top: 5px;
      color: $textGray;
      &:hover {
        color: $purple;
      }
    }
  }
}

.see-more {
  text-align: right;
  padding: .25rem 0;
  margin: .5rem 0 0;
  a {
    color: $indigo;
    font-weight: 500;
    text-decoration: underline;
    &:hover {
      color: $indigo;
      text-decoration: none;
    }
  }
}

.modal {
  &.loading {
    .modal-content {
      background-color: #ffffff;
      background-image: url("/../images/loader.gif");
      background-repeat: no-repeat;
      background-position: center bottom;
      min-height: 150px;
      .modal-body, .modal-footer {
        display: none;
      }
    }
  }
}

.btn-group-toggle {
  .btn {
    color: $textGray;
    border: 1px solid $textGray;
    box-shadow: none;
    outline: none;
    &.active {
      color: #ffffff;
      border: 1px solid $purple;
      background-color: $purple;
    }
    &:hover, &:active, &:focus {
      box-shadow: none;
      outline: none;
    }
  }
}